body { background: #b961cd; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 59px; display: flex; }
.block-email-0 { color: #d72da9; font-size: 17px; margin-bottom: 5px; }
.block-token-1 { color: #382951; font-size: 17px; margin-bottom: 5px; }
.block-search-2 { color: #36829c; font-size: 15px; margin-bottom: 5px; }
.block-config-3 { color: #d08843; font-size: 19px; margin-bottom: 5px; }
.block-order-4 { color: #9c1172; font-size: 16px; margin-bottom: 5px; }